pug/Home.pug
extends includes/layouts/layout-normal.pug
block content
    +heroSlider().section-separator
    section.section--boxed.flexrow
        .col-50
            .text-block
                .h2-container
                    h2 About Indian Foodie
                p We are a passionate cuisine team establish in Madrid but distributed around world that search to bring you this magical combination of smells and flavors to your kitchen as well as showing you how you can use our wide variety of spices in different healthy delicious dishes.
        .col-50.show--desktop-up.align-to-right
            img(src="images/people01.png", alt="Indian Foodie Team").img--responsive

    section.section--boxed.flexrow.section-separator
        .col-100
            .text-block
                .h2-container
                    h2 Our Latest Recipes
                p 
                    span Don't miss out on these easy and delicious recipes prepared with fresh ingredients and the best spices found in our 
                    a(href="#").link spice market
                    span .
            +grid-4--card--basic()
            a(href="#").link.align-to-right.fullwidth Check more delicious recipes

    section.section.section-separator.section--fullwidth.section--background-image(style={'background-image': 'url("images/newsletter01.png")'})
        .section--boxed.flexrow
            .section__content.col-50.align-to-left
                h3 Join our newsletter
                p.section-description We know you love our products and recipes so don't miss the opportunity to subscribe to our newsletter and hearing from us a few times a week.
                .form-control.align-to-bottom
                    label.form-control__label Type your email below
                    input(type="text" placeholder="Your email here").form-control__input
                button.button.fullwidth Subscribe our Newsletter
            .section__image-container.col-50.show--desktop-up.align-to-center
                img(src="images/subscribe01.png").section__image
        
    section.section--boxed.flexrow.section-separator
        .col-50
            .text-block
                .h2-container
                    h2 Calories Comparison
                p Worried about the calories you eat? Every day our site offers you a caloric comparison of some selected recipes. 
                p This is our selection for today:
            h4.align-to-left.fullwidth Desserts
            +grid-3--card--vertical()
            h4.align-to-left.fullwidth Main Dishes
            +grid-3--card--vertical()
        .col-50.show--desktop-up.align-to-center
            img(src="images/banner-vertical.png", alt="Healty food banner").img--responsive

html/Home.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon-1-32x32.png" sizes="32x32">
    <link rel="icon" href="images/favicon-1-192x192.png" sizes="192x192">
    <link rel="icon" href="images/favicon-1-180x180.png" sizes="180x180">
    <link href="css/my-theme.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d855224b6a.js" crossorigin="anonymous"></script>
    <title>Indian Foodie</title>
  </head>
  <body>
    <section class="section section--main">
          <div class="hero-slider section-separator">
            <div class="slide slide--02">
              <div class="slide__content-container">
                <h1>Unique heavenly spices</h1>
                <p>Our Spices are the best option for you outside India, we prepare them with top ingredients.</p>
                <button class="button button--slide">Visit our spice market</button>
              </div>
            </div>
            <div class="slider-page-indicator">
              <button class="button--page-indicator" alt="Go to slider page #1"></button>
              <button class="button--page-indicator button--page-indicator--active" alt="Slider Page #2 active"></button>
              <button class="button--page-indicator" alt="Go to slider page #3"></button>
              <button class="button--page-indicator" alt="Go to slider page #4"></button>
            </div>
            <button class="button--slider-arrow button--slider-arrow--left"><i class="fas fa-chevron-left"></i></button>
            <button class="button--slider-arrow button--slider-arrow--right"><i class="fas fa-chevron-right"></i></button>
          </div>
      <section class="section--boxed flexrow">
        <div class="col-50">
          <div class="text-block">
            <div class="h2-container">
              <h2>About Indian Foodie</h2>
            </div>
            <p>We are a passionate cuisine team establish in Madrid but distributed around world that search to bring you this magical combination of smells and flavors to your kitchen as well as showing you how you can use our wide variety of spices in different healthy delicious dishes.</p>
          </div>
        </div>
        <div class="col-50 show--desktop-up align-to-right"><img class="img--responsive" src="images/people01.png" alt="Indian Foodie Team"></div>
      </section>
      <section class="section--boxed flexrow section-separator">
        <div class="col-100">
          <div class="text-block">
            <div class="h2-container">
              <h2>Our Latest Recipes</h2>
            </div>
            <p> <span>Don't miss out on these easy and delicious recipes prepared with fresh ingredients and the best spices found in our </span><a class="link" href="#">spice market</a><span>.</span></p>
          </div>
              <div class="card-container">
                    <div class="card">
                      <div class="card-image" style="background-image:url(&quot;images/food02.png&quot;);"></div>
                      <div class="card-content">
                        <div class="card-title-container">
                          <div class="card-title">Pork &amp; lentil curry with naan bread</div>
                          <div class="label-container">
                                <div class="label"><i class="label__icon fas fa-fire"></i><span class="label__text">1,200 cal</span></div>
                                <div class="label"><i class="label__icon fas fa-clock"></i><span class="label__text">1h 20m</span></div>
                          </div>
                        </div>
                        <div class="card-description"><span>Our Spices are the best option for you outside India, we prepare them with top ingredients. Our Spices...</span></div><a class="link link--card" href="#">Pork &amp; beans Curry Recipe</a>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-image" style="background-image:url(&quot;images/food01.png&quot;);"></div>
                      <div class="card-content">
                        <div class="card-title-container">
                          <div class="card-title">Chickpea summer salad</div>
                          <div class="label-container">
                                <div class="label"><i class="label__icon fas fa-fire"></i><span class="label__text">450 cal</span></div>
                                <div class="label"><i class="label__icon fas fa-clock"></i><span class="label__text">40m</span></div>
                          </div>
                        </div>
                        <div class="card-description"><span>Our Spices are the best option for you outside India, we prepare them with top ingredients. Our Spices...</span></div><a class="link link--card" href="#">Chickpea sumer salad Recipe</a>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-image" style="background-image:url(&quot;images/dessert02.png&quot;);"></div>
                      <div class="card-content">
                        <div class="card-title-container">
                          <div class="card-title">Cardamom &amp; date khoya Ice cream</div>
                          <div class="label-container">
                                <div class="label"><i class="label__icon fas fa-fire"></i><span class="label__text">530 cal</span></div>
                                <div class="label"><i class="label__icon fas fa-clock"></i><span class="label__text">2h 50m</span></div>
                          </div>
                        </div>
                        <div class="card-description"><span>Our Spices are the best option for you outside India, we prepare them with top ingredients. Our Spices...</span></div><a class="link link--card" href="#">Khoya ice cream Recipe</a>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-image" style="background-image:url(&quot;images/food04.png&quot;);"></div>
                      <div class="card-content">
                        <div class="card-title-container">
                          <div class="card-title">Pork &amp; beans curry meatballs</div>
                          <div class="label-container">
                                <div class="label"><i class="label__icon fas fa-fire"></i><span class="label__text">610 cal</span></div>
                                <div class="label"><i class="label__icon fas fa-clock"></i><span class="label__text">1h 40m</span></div>
                          </div>
                        </div>
                        <div class="card-description"><span>Our Spices are the best option for you outside India, we prepare them with top ingredients. Our Spices...</span></div><a class="link link--card" href="#">Pork &amp; beans curry meatballs Recipe</a>
                      </div>
                    </div>
              </div><a class="link align-to-right fullwidth" href="#">Check more delicious recipes</a>
        </div>
      </section>
      <section class="section section-separator section--fullwidth section--background-image" style="background-image:url(&quot;images/newsletter01.png&quot;);">
        <div class="section--boxed flexrow">
          <div class="section__content col-50 align-to-left">
            <h3>Join our newsletter</h3>
            <p class="section-description">We know you love our products and recipes so don't miss the opportunity to subscribe to our newsletter and hearing from us a few times a week.</p>
            <div class="form-control align-to-bottom">
              <label class="form-control__label">Type your email below</label>
              <input class="form-control__input" type="text" placeholder="Your email here">
            </div>
            <button class="button fullwidth">Subscribe our Newsletter</button>
          </div>
          <div class="section__image-container col-50 show--desktop-up align-to-center"><img class="section__image" src="images/subscribe01.png"></div>
        </div>
      </section>
      <section class="section--boxed flexrow section-separator">
        <div class="col-50">
          <div class="text-block">
            <div class="h2-container">
              <h2>Calories Comparison</h2>
            </div>
            <p>Worried about the calories you eat? Every day our site offers you a caloric comparison of some selected recipes. </p>
            <p>This is our selection for today:</p>
          </div>
          <h4 class="align-to-left fullwidth">Desserts</h4>
              <div class="card-container card-container--3">
                    <div class="card--vertical">
                      <div class="card-image" style="background-image:url(&quot;images/dessert01.png&quot;);"></div>
                      <div class="card-content">
                        <div class="card-title-container">
                          <div class="card-title">Exotic fruits salad with cinnamon</div>
                        </div>
                        <div class="calorie-meter meter--success"><span class="calorie-meter__text">105 calories</span>
                          <div class="meter__icons"><i class="meter__icon meter__icon--on fas fa-fire"></i><i class="meter__icon fas meter__icon--on fa-fire"></i><i class="meter__icon fas fa-fire"></i><i class="meter__icon fas fa-fire"></i><i class="meter__icon fas fa-fire"></i></div>
                        </div><a class="link link--card" href="#">View Recipe</a>
                      </div>
                    </div>
                    <div class="card--vertical">
                      <div class="card-image" style="background-image:url(&quot;images/dessert02.png&quot;);"></div>
                      <div class="card-content">
                        <div class="card-title-container">
                          <div class="card-title">Masala Chai Yogurt</div>
                        </div>
                        <div class="calorie-meter meter--warning"><span class="calorie-meter__text">105 calories</span>
                          <div class="meter__icons"><i class="meter__icon meter__icon--on fas fa-fire"></i><i class="meter__icon fas meter__icon--on fa-fire"></i><i class="meter__icon fas fa-fire"></i><i class="meter__icon fas fa-fire"></i><i class="meter__icon fas fa-fire"></i></div>
                        </div><a class="link link--card" href="#">View Recipe</a>
                      </div>
                    </div>
                    <div class="card--vertical">
                      <div class="card-image" style="background-image:url(&quot;images/dessert03.png&quot;);"></div>
                      <div class="card-content">
                        <div class="card-title-container">
                          <div class="card-title">Cardamom &amp; date khoya Ice cream</div>
                        </div>
                        <div class="calorie-meter meter--danger"><span class="calorie-meter__text">105 calories</span>
                          <div class="meter__icons"><i class="meter__icon meter__icon--on fas fa-fire"></i><i class="meter__icon fas meter__icon--on fa-fire"></i><i class="meter__icon fas fa-fire"></i><i class="meter__icon fas fa-fire"></i><i class="meter__icon fas fa-fire"></i></div>
                        </div><a class="link link--card" href="#">View Recipe</a>
                      </div>
                    </div>
              </div>
          <h4 class="align-to-left fullwidth">Main Dishes</h4>
              <div class="card-container card-container--3">
                    <div class="card--vertical">
                      <div class="card-image" style="background-image:url(&quot;images/dessert01.png&quot;);"></div>
                      <div class="card-content">
                        <div class="card-title-container">
                          <div class="card-title">Exotic fruits salad with cinnamon</div>
                        </div>
                        <div class="calorie-meter meter--success"><span class="calorie-meter__text">105 calories</span>
                          <div class="meter__icons"><i class="meter__icon meter__icon--on fas fa-fire"></i><i class="meter__icon fas meter__icon--on fa-fire"></i><i class="meter__icon fas fa-fire"></i><i class="meter__icon fas fa-fire"></i><i class="meter__icon fas fa-fire"></i></div>
                        </div><a class="link link--card" href="#">View Recipe</a>
                      </div>
                    </div>
                    <div class="card--vertical">
                      <div class="card-image" style="background-image:url(&quot;images/dessert02.png&quot;);"></div>
                      <div class="card-content">
                        <div class="card-title-container">
                          <div class="card-title">Masala Chai Yogurt</div>
                        </div>
                        <div class="calorie-meter meter--warning"><span class="calorie-meter__text">105 calories</span>
                          <div class="meter__icons"><i class="meter__icon meter__icon--on fas fa-fire"></i><i class="meter__icon fas meter__icon--on fa-fire"></i><i class="meter__icon fas fa-fire"></i><i class="meter__icon fas fa-fire"></i><i class="meter__icon fas fa-fire"></i></div>
                        </div><a class="link link--card" href="#">View Recipe</a>
                      </div>
                    </div>
                    <div class="card--vertical">
                      <div class="card-image" style="background-image:url(&quot;images/dessert03.png&quot;);"></div>
                      <div class="card-content">
                        <div class="card-title-container">
                          <div class="card-title">Cardamom &amp; date khoya Ice cream</div>
                        </div>
                        <div class="calorie-meter meter--danger"><span class="calorie-meter__text">105 calories</span>
                          <div class="meter__icons"><i class="meter__icon meter__icon--on fas fa-fire"></i><i class="meter__icon fas meter__icon--on fa-fire"></i><i class="meter__icon fas fa-fire"></i><i class="meter__icon fas fa-fire"></i><i class="meter__icon fas fa-fire"></i></div>
                        </div><a class="link link--card" href="#">View Recipe</a>
                      </div>
                    </div>
              </div>
        </div>
        <div class="col-50 show--desktop-up align-to-center"><img class="img--responsive" src="images/banner-vertical.png" alt="Healty food banner"></div>
      </section>
    </section>
  </body>
</html>
